.savings-container {
    height: 70rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.savings-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 2.5rem 0;
}
.savings-category-title {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
.savings-category-title span {
    font-weight: 300;
}
.savings-progress-wrapper {
    background-color: #888;
    width: 42.5rem;
    height: 4rem;
    border-radius: 5rem;
    box-shadow: 0 .5rem .75rem rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
}
.savings-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    background: linear-gradient(to top ,#EA3546, #ea3547a3);
    border-radius: .2rem;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.15);
    transition: width 0.6s;
}
.add-to-savings-form {
    margin-top: 1.125rem;
    text-align: center;
    font-size: 2.5rem;
}
.savings-form-container {
    width: 70%;
    border: 1px solid #888888;
    border-radius: .5rem;
    margin-top: 1.5rem;
}
.savings-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: .5rem;
}
.savings-form input {
    font-size: 1.8rem;
    width: 18%;
    height: 4.5rem;
    background-color: white;
    border-radius: .5rem;
    padding-left: 2rem;
    border: none;
}
.savings-form input::placeholder {
    color: black;
}
.savings-form button {
    width: 11.5%;
    height: 4.5rem;
    color: white;
    background-color: #555;
    font-size: 1.5rem;
    font-weight: 100;
    border: none;
    border-radius: 0 .5rem .5rem 0;
    outline: none;
    cursor: pointer;
}
.savings-body {
    margin: 1rem 0 4rem;
    width: 71%;
    max-height: 50rem;
    overflow-y: auto;
    display: grid;
    justify-content: space-evenly;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
}
.savings-card {
    height: 20rem;
    width: 25rem;
    border: 1px solid #888;
    border-radius: .5rem;
}
.savings-card-wrapper {
    margin: 1rem;
}
.savings-card-title {
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    margin: 1.5rem 0;
}
.add-to-savings-form input {
    border: 1px solid #555;
    border-radius: 1rem 0 0 1rem;
    box-sizing: border-box;
    width: 12rem;
    height: 3.5rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    outline: none;
}
.add-to-savings-form button {
    border: 1px solid #555;
    border-left: none;
    border-radius: 0 1rem 1rem 0;
    box-sizing: border-box;
    width: 5rem;
    height: 3.5rem;
    background-color: #eee;
}
.add-to-savings-form button:hover {
    background-color: #ddd;
    cursor: pointer;
}
.savings-card-date-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.25rem;
}
.savings-header-box2 {
    display: flex;
}
.savings-card-date-box h2 {
    font-size: 1.8rem;
    font-weight: 400;
}
.savings-card-date-box h4 {
    font-size: 1.65rem;
    font-weight: 300;
}
.savings-card-percent-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.savings-card-percent-box h2 {
    font-size: 1.8rem;
    font-weight: 400;
}
.savings-card-percent-box h4 {
    font-size: 2rem;
    font-weight: 300;
}