.profile-go-back {
    position: absolute;
    top: 2.5rem;
    left: 3rem;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    background-color: #888;
    padding: 1rem;
    border-radius: .5rem;
}
.profile-go-back:hover {
    background-color: #777;
}
.profile-container {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.profile-wrapper {
    width: 70%;
    height: auto;
    background: whitesmoke;
    padding: 2.75rem 7.5rem;
}
.profile-form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
}
.profile-title {
    display: block;
    width: 100%;
    font-size: 4.25rem;
    font-weight: 400;
    color: #333333;
    line-height: 1.4;
    text-align: center;
    padding-bottom: 3.75rem;
}
.profile-input-wrapper {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #dbdbdb;
    margin-bottom: 3.5rem;
}
.profile-input-label {
    font-size: 1.65rem;
    font-weight: 600;
    color: #777;
    line-height: 1.2;
    padding-left: .2rem;
}
.profile-input {
    display: block;
    width: 100%;
    height: 4.5rem;
    background: transparent;
    font-size: 1.75rem;
    color: black;
    line-height: 1.2;
    padding: .5rem .2rem 0;
    border: none;
    outline: none;
}
.profile-input-money-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-input-money-wrapper span {
    font-size: 2rem;
    padding-right: .5rem;
    font-weight: 500;
    color: #666;
}
#photo-file-input {
    margin-top: .25rem;
    cursor: pointer;
}
.profile-input-focus {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.profile-input-focus::before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -.2rem;
    width: 0;
    height: 2px;
    transition: all .4s ease;
    background-color: #009879;
}
.profile-input:focus + .profile-input-focus::before {
    width: 100%;
}
.profile-input::placeholder {
    color: black;
}
.profile-submit-btn-container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 7rem;
}
.profile-submit-btn {
    position: absolute;
    width: 32.5rem;
    height: 5rem;
    margin-top: .5rem;
    margin-left: 110%;
    color: whitesmoke;
    background-color: #666666;
    border-radius: 2.5rem;
    font-size: 1.6rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}
.profile-submit-btn:hover {
    background-color: #888888;
}

@media (max-width: 500px) {
    .profile-form {
        grid-template-columns: 1fr;
    }
    .profile-submit-btn {
        width: 27.5rem;
        margin-left: 0;
    }
    .profile-title {
        font-size: 2.85rem;
        margin-left: 4.5rem;
        font-weight: 600;
        padding-bottom: 4rem;
    }
    .profile-wrapper {
        width: 100%;
        padding: 2.75rem 7.5rem;
    }
    .profile-go-back {
        top: 2.725rem;
        left: 3.25rem;
        font-size: 1.75rem;
    }
}