.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12.5rem;
    height: 7.5rem;
    background-color: #393a3d;
}
.nav-back {
    text-decoration: none;
}
.header-box1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-box1 img {
    height: 3.25rem;
    width: auto;
}
.header-box1 h2 {
    font-size: 2.75rem;
    font-weight: 400;
    padding-left: 1.85rem;
    color: whitesmoke;
}
.header-box1 h2 span {
    font-size: 1.35rem;
    margin-left: -.25rem;
}
.header-box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8.5rem;
}
.header-profile {
    height: 4.85rem;
    width: auto;
    transition: all .2s ease;
}
.header-profile:hover {
    cursor: pointer;
    transform: scale(1.035);
}
.header-logout {
    height: 7.5rem;
    padding: 0 2.5rem;
    font-size: 1.45rem;
    font-weight: 100;
    color: #999999;
    background-color: #393a3d;
    border: none;
    transition: all .2s ease;
}
.header-logout:hover {
    cursor: pointer;
    background-color: #444444;
}