.income-container {
    height: 77.5rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.income-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 3rem 0;
}
.income-category-title {
    font-size: 2.75rem;
    font-weight: 700;
    margin-bottom: .5rem;
}
.income-category-amount {
    display: flex;
}
.income-category-amount span {
    font-size: 3rem;
    font-weight: 400;
}
.income-category-amount h2 {
    font-size: 3rem;
    font-weight: 400;
}
.income-form-container {
    width: 70%;
    border-radius: .5rem;
    margin: .85rem 0 .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.income-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.income-search-form {
    border: none;
    width: 23.5%;
}
.income-search-box {
    height: 4.25rem;
    width: 100%;
    color: #222;
    background-color: rgb(226, 226, 226);
    border: none;
    border-radius: .5rem;
    padding-left: 1.35rem;
    font-size: 1.65rem;
    outline: none;
}
.income-search-box:focus {
    background-color: #d0d0d0;
}
.income-search-box::placeholder {
    color: #777;
}
.income-form {
    border: none;
    display: flex;
    align-items: center;
    width: 72.5%;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: .5rem;
}
.income-form-header {
    font-size: 1.75rem;
    font-weight: 500;
    width: 20%;
    height: 3.75rem;
    margin: 1rem 0;
    color: black;
    background-color: whitesmoke;
    padding-left: .5rem;
    border: none;
    border-bottom: 1px solid #888;
    border-radius: 0;
}
.income-form-header::placeholder {
    color: black;
}
.income-form-header:disabled::placeholder {
    color: #bbb;
}
.income-form-select {
    padding-left: .5rem;
    cursor: pointer;
}
.income-submit-button {
    color: white;
    background-color: #777;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 1rem;
    border: none;
    outline: none;
    padding: 1rem 1.65rem;
    border-radius: .5rem;
    cursor: pointer;
}
.income-submit-button:hover {
    background-color: #222;
}
.income-body {
    margin: 2rem 0 4rem;
    width: 70%;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.15);
    border-bottom: 4px solid #009879;
}
.income-table-body {
    display: block;
    max-height: 40rem;
    overflow-y: auto;
}
.income-body table {
    font-family: sans-serif;
    font-size: 1.6rem;
    width: 100%;
    border-collapse: collapse;
}
.income-body table thead tr {
    background-color: #009879;
    color: white;
    text-align: left;
    position: relative;
}
.income-body table thead,
.income-body table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.income-body table th {
    padding: 1.4rem 1.6rem;
}
.income-body table td {
    padding: .85rem 1.6rem;
}
.income-body table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.income-body table tbody tr:nth-of-type(2n+0) {
    background-color: #e6e6e6;
}
#delete-income-item {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: -5rem;
    padding: 0;
    cursor: pointer;
    transition: all .2s ease;
}
#delete-income-item:hover {
    transform: scale(1.1);
}
#delete-income-item:active {
    transform: scale(.9);
}